/* Add Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* Remove Default Styling */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

/* Header Section */
header {
	background-color: #a54202;
	height: 10vh;
	display: flex;
	align-items: center;
	padding-left: 10%;
}

header h1 {
	font-size: 2.5rem;
	font-weight: 500;
	color: rgb(255, 255, 255);
}

/* Main Section */
main {
	width: 80%;
	min-height: 100vh;
	margin: 0 auto;
	background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.2)
		),
		url("./assets/images/ghana.jpg");
	background-size: cover;
	background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Heading */
.main-heading {
    color: #a54202;
    text-align: center;
    margin: 3rem 0;
    font-size: 1.8rem;
    font-weight: 400;
}

.main-heading span {
    display: block;
    line-height: 1.6;
}

/* Page Form */
.akan-form {
    width: 55%;
    padding: 1rem 2rem;
    box-shadow: -5px 5px 5px 0px rgba(165, 67, 2, 0.76);
}

.akan-form h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #a54202;
    margin-bottom: 3rem;
}

.akan-form h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 10rem;
    background-color: #a54202;
    margin: 1rem auto;
}

.akan-form label,
.akan-form input {
    display: block;
    margin: .8rem 0;
}

.akan-form label {
    font-size: 1.4rem;
    color: #a54202;
}

.date, .gender {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a54202;
}

.submit {
    padding: .8rem 2rem;
    font-size: 1.2rem;
    background-color: #a54202;
    border: none;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
}

/* Displayed Akan Name */
.akan-name {
    margin: 3rem 0;
    color: #a54202;
    font-size: 3rem;
    font-weight: 700;
}