/* Add Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Remove Default Styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header Section */
header {
    background-color: #A54202;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
}
